/* Home page - Color blind version */

/* 
u-section-2: Image slider
u-section-3: Hero function buttons
u-section-4: DES definition
u-section-5: Type of DES service
u-section-6: VDO
u-section-7: About
u-section-8: Our services
*/

/* image display on sliders */
/* Des definition */
.u-section-2-1 {background-image: url("images/homepage_colorblind1.jpg"); background-position: 50% 50%}
.u-section-2-1 .u-sheet-1 {min-height: 452px} 
/* adjust the size for different devices */
/* desktop */
@media (max-width: 1199px){ .u-section-2-1 .u-sheet-1 {min-height: 372px} }
/* small screen, labtop */
@media (max-width: 991px){ .u-section-2-1 .u-sheet-1 {min-height: 285px} }
/* tablet */
@media (max-width: 767px){ .u-section-2-1 .u-sheet-1 {min-height: 214px} }
/* mobile */
@media (max-width: 575px){ .u-section-2-1 .u-sheet-1 {min-height: 135px} }

/* Unable image */
.u-section-2-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/homepage_colorblind2.jpg"); background-position: 50% 39.05%}
.u-section-2-2 .u-sheet-1 {min-height: 452px} 

@media (max-width: 1199px){ .u-section-2-2 .u-sheet-1 {min-height: 372px} }

@media (max-width: 991px){ .u-section-2-2 .u-sheet-1 {min-height: 285px} }

@media (max-width: 767px){ .u-section-2-2 .u-sheet-1 {min-height: 214px} }

@media (max-width: 575px){ .u-section-2-2 .u-sheet-1 {min-height: 135px} }
/* Girl at meeting */
.u-section-2-3 {background-image: url("images/homepage_colorblind3.jpg"); background-position: 50% 26.15%}
.u-section-2-3 .u-sheet-1 {min-height: 452px}

@media (max-width: 1199px){ .u-section-2-3 .u-sheet-1 {min-height: 372px} }

@media (max-width: 991px){ .u-section-2-3 .u-sheet-1 {min-height: 285px} }

@media (max-width: 767px){ .u-section-2-3 .u-sheet-1 {min-height: 214px} }

@media (max-width: 575px){ .u-section-2-3 .u-sheet-1 {min-height: 135px} }

/* Girl with glasses */
.u-section-2-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/homepage_colorblind4.jpeg"); background-position: 50% 41.83%; min-height: 452px}
.u-section-2-4 .u-sheet-1 {min-height: 452px} 

@media (max-width: 1199px){ .u-section-2-4 .u-sheet-1 {min-height: 372px} }

@media (max-width: 991px){ .u-section-2-4 .u-sheet-1 {min-height: 285px} }

@media (max-width: 767px){ .u-section-2-4 .u-sheet-1 {min-height: 214px} }

@media (max-width: 575px){ .u-section-2-4 .u-sheet-1 {min-height: 135px} }

/* Two men */
.u-section-2-5 {background-image: url("images/homepage_colorblind5.jpeg")}
.u-section-2-5 .u-sheet-1 {min-height: 452px} 

@media (max-width: 1199px){ .u-section-2-5 .u-sheet-1 {min-height: 373px} }

@media (max-width: 991px){ .u-section-2-5 .u-sheet-1 {min-height: 286px} }

@media (max-width: 767px){ .u-section-2-5 .u-sheet-1 {min-height: 215px} }

@media (max-width: 575px){ .u-section-2-5 .u-sheet-1 {min-height: 135px} }

/* Hero function buttons */
.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 277px}
.u-section-3 .u-layout-wrap-1 {width: 900px; margin: 32px auto}
.u-section-3 .u-layout-cell-1 {min-height: 213px}
.u-section-3 .u-container-layout-1 {padding: 20px 30px}
.u-section-3 .u-text-1 {font-size: 2.375rem; margin: 0 30px}
.u-section-3 .u-btn-1 {font-size: 1.5rem; padding: 0}
/* Search button */
.u-section-3 .u-btn-2 {border-style: solid; background-image: none; font-size: 1.25rem; text-transform: uppercase; animation-duration: 500ms; font-weight: 700; margin: 20px auto 0; padding: 10px 61px 11px 59px}
.u-section-3 .u-layout-cell-2 {min-height: 213px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-layout-cell-3 {min-height: 213px}
.u-section-3 .u-container-layout-3 {padding: 20px 30px}
.u-section-3 .u-text-2 {font-size: 2.375rem; background-image: none; margin: 18px 30px 0}
.u-section-3 .u-btn-3 {font-size: 1.5rem; padding: 0}
/* Find button */
.u-section-3 .u-btn-4 {border-style: solid; background-image: none; font-size: 1.25rem; text-transform: uppercase; animation-duration: 500ms; font-weight: 700; margin: 20px auto 0; padding: 10px 79px 11px 78px} 
@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {min-height: 88px}
.u-section-3 .u-layout-cell-1 {min-height: 206px}
.u-section-3 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-3 .u-btn-2 {width: 223px; height: 69px}
.u-section-3 .u-layout-cell-2 {min-height: 206px}
.u-section-3 .u-layout-cell-3 {min-height: 206px}
.u-section-3 .u-text-2 {margin-top: 0; margin-left: 22px; margin-right: 22px}
.u-section-3 .u-btn-4 {height: 69px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 126px}
.u-section-3 .u-layout-wrap-1 {min-height: 64px; width: 720px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 158px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-text-2 {margin-left: 21px; margin-right: 21px} }

@media (max-width: 767px){ .u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 21px}
.u-section-3 .u-container-layout-2 {padding-bottom: 18px}
.u-section-3 .u-container-layout-3 {padding-bottom: 18px}
.u-section-3 .u-text-2 {margin-left: 43px; margin-right: 43px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 217px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-text-1 {font-size: 1.5rem}
.u-section-3 .u-layout-cell-2 {min-height: 21px}
.u-section-3 .u-container-layout-2 {padding-bottom: 18px}
.u-section-3 .u-container-layout-3 {padding-bottom: 18px}
.u-section-3 .u-text-2 {margin-left: 43px; margin-right: 43px; font-size: 1.5rem} }

/* DES definition */
.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 257px}
.u-section-4 .u-layout-wrap-1 {width: 1304px; margin: 0 -82px 20px}
.u-section-4 .u-layout-cell-1 {min-height: 237px}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-image-1 {height: 162px; width: 403px; margin: 11px auto 0}
.u-section-4 .u-layout-cell-2 {min-height: 237px}
.u-section-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-size: 3.75rem; margin: 0 27px 0 0}
.u-section-4 .u-btn-1 {font-size: 3rem; padding: 0}
.u-section-4 .u-text-2 {font-size: 1.5rem; font-style: normal; margin: 0 auto 0 0}
.u-section-4 .u-text-3 {font-size: 1rem; margin: 3px 97px 0 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 100px}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-right: 0; margin-left: 0}
.u-section-4 .u-layout-cell-1 {min-height: 171px; background-position: 50% 50%}
.u-section-4 .u-image-1 {height: 140px; width: 350px; margin-top: 0}
.u-section-4 .u-layout-cell-2 {min-height: 171px}
.u-section-4 .u-text-1 {margin-right: 0}
.u-section-4 .u-text-3 {margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-image-1 {height: 120px; width: 300px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 {min-height: 517px}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-1 {margin-right: 103px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }


@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-1 {height: 93px; width: 244px; margin-top: 2px; margin-right: auto; margin-bottom: -16px}
.u-section-4 .u-text-1 {font-size: 2.25rem}
.u-section-4 .u-btn-1 {font-size: 1.875rem}
.u-section-4 .u-text-2 {font-size: 1.25rem} }

/* Type of DES services */
.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 322px}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 37px 0}
.u-section-5 .u-layout-cell-1 {min-height: 230px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-text-1 {font-weight: 700; line-height: 1.4; font-size: 1.875rem; margin: 0}
.u-section-5 .u-layout-cell-2 {min-height: 230px; background-image: none}
.u-section-5 .u-container-layout-2 {padding: 20px}
.u-section-5 .u-text-2 {font-weight: normal; font-size: 3rem; margin: 0 301px 0 0}
.u-section-5 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 2px auto 0 0}
.u-section-5 .u-text-4 {font-size: 1rem; margin: 16px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 230px}
.u-section-5 .u-container-layout-3 {padding: 20px}
.u-section-5 .u-text-5 {font-weight: normal; font-size: 3rem; margin: 0 263px 0 0}
.u-section-5 .u-text-6 {font-weight: 700; font-size: 1.5rem; margin: 3px 77px 0 0}
.u-section-5 .u-text-7 {font-size: 1rem; margin: 17px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 196px}
.u-section-5 .u-layout-wrap-1 {width: 940px}
.u-section-5 .u-layout-cell-1 {min-height: 190px}
.u-section-5 .u-layout-cell-2 {min-height: 190px}
.u-section-5 .u-text-2 {margin-right: 158px}
.u-section-5 .u-layout-cell-3 {min-height: 190px}
.u-section-5 .u-text-5 {margin-right: 158px}
.u-section-5 .u-text-6 {margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 184px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-text-1 {position: relative}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-text-2 {margin-right: 85px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-text-5 {margin-right: 85px} }

@media (max-width: 767px){ .u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 562px}
.u-section-5 .u-layout-wrap-1 {width: 340px}
.u-section-5 .u-container-layout-1 {padding-top: 10px; padding-bottom: 10px}
.u-section-5 .u-text-1 {font-size: 1.5rem}
.u-section-5 .u-text-2 {font-size: 1.875rem; margin-right: 0}
.u-section-5 .u-text-3 {width: auto; font-size: 1.25rem}
.u-section-5 .u-text-4 {font-size: 0.875rem; margin-top: 10px}
.u-section-5 .u-container-layout-3 {padding-bottom: 0}
.u-section-5 .u-text-5 {font-size: 1.875rem; margin-right: 0}
.u-section-5 .u-text-6 {font-size: 1.25rem; margin-right: 22px}
.u-section-5 .u-text-7 {font-size: 0.875rem; width: auto; margin-top: 10px; margin-right: -2px; margin-left: 2px} }

/* VDO container */
.u-section-6 .u-sheet-1 {min-height: 490px}
.u-section-6 .u-video-1 {height: 368px; width: 756px; margin: 42px 187px 0 auto}
.u-section-6 .u-text-1 {font-size: 0.875rem; width: 680px; margin: 32px auto 20px}
.u-section-6 .u-btn-1 {font-size: 0.875rem; padding: 0} 

@media (max-width: 1199px){ .u-section-6 .u-video-1 {margin-right: 184px} }

@media (max-width: 991px){ .u-section-6 .u-video-1 {width: 720px; margin-right: 0} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 562px}
.u-section-6 .u-video-1 {height: 303px; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 314px}
.u-section-6 .u-video-1 {height: 195px; width: 340px; margin-top: 37px; margin-right: 7px; margin-left: -7px}
.u-section-6 .u-text-1 {font-size: 0.625rem; width: 340px; margin-top: 11px; margin-bottom: 11px}
.u-section-6 .u-btn-1 {font-size: 0.75rem} }

/* About */
.u-section-7 .u-sheet-1 {min-height: 194px}
.u-section-7 .u-text-1 {font-style: normal; font-size: 1.875rem; width: 85px; margin: 26px auto 0}
.u-section-7 .u-text-2 {letter-spacing: 2px; line-height: 1.8; font-size: 1rem; font-weight: 700; margin: 26px 84px} 

@media (max-width: 1199px){ .u-section-7 {min-height: 316px}
.u-section-7 .u-text-2 {margin-left: 80px; margin-right: 80px} }

@media (max-width: 991px){ .u-section-7 {min-height: 244px}
.u-section-7 .u-text-2 {width: 720px; margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 420px}
.u-section-7 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-7 {min-height: 249px}
.u-section-7 .u-sheet-1 {min-height: 330px}
.u-section-7 .u-text-1 {font-size: 1.25rem; width: auto}
.u-section-7 .u-text-2 {width: 340px} }.u-section-8 .u-sheet-1 {min-height: 395px}

/* Our services */
.u-section-8 .u-sheet-1 {min-height: 440px}
.u-section-8 .u-text-1 {width: 740px; font-size: 1.875rem; margin: 40px auto 40px }
.u-section-8 .u-list-1 {min-height: 301px; grid-gap: 31px 31px; grid-template-columns: calc(20% - 25px) calc(20% - 25px) calc(20% - 25px) calc(20% - 25px) calc(20% - 25px); grid-template-rows: auto; height: auto; margin: 15px auto 60px 0}
/* Easy Search */
.u-section-8 .u-list-item-1 {background-size: auto; margin-top: 0; margin-bottom: 0; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-1 {padding: 20px 10px 10px}
.u-section-8 .u-icon-1 {height: 82px; width: 82px; background-image: none; margin: 0 auto}
.u-section-8 .u-text-2 {font-size: 1.25rem; font-weight: 500; margin: 15px 0 0}
.u-section-8 .u-text-3 {font-size: 0.875rem; margin: 6px 0 0}
/* Nearby Provider */
.u-section-8 .u-list-item-2 {background-size: auto; margin-top: 0; margin-bottom: 0; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-2 {padding: 20px 10px 10px}
.u-section-8 .u-icon-2 {height: 82px; width: 82px; background-image: none; margin: 0 auto}
.u-section-8 .u-text-4 {font-size: 1.25rem; font-weight: 500; margin: 15px 0 0}
.u-section-8 .u-text-5 {font-size: 0.875rem; margin: 6px 0 0}
/* Travel Support */
.u-section-8 .u-list-item-3 {background-size: auto; margin-top: 0; margin-bottom: 0; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-3 {padding: 20px 10px 10px}
.u-section-8 .u-icon-3 {height: 82px; width: 82px; background-image: none; margin: 0 auto}
.u-section-8 .u-text-6 {font-size: 1.25rem; font-weight: 500; margin: 15px 0 0}
.u-section-8 .u-text-7 {font-size: 0.875rem; margin: 6px 0 0}
/* DES performance */
.u-section-8 .u-list-item-4 {background-size: auto; margin-top: 0; margin-bottom: 0; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-4 {padding: 20px 10px 10px}
.u-section-8 .u-icon-4 {height: 82px; width: 82px; background-image: none; margin: 0 auto}
.u-section-8 .u-text-8 {font-size: 1.25rem; font-weight: 500; margin: 15px 0 0}
.u-section-8 .u-text-9 {font-size: 0.875rem; margin: 6px 0 0}
/* Legal services */
.u-section-8 .u-text-10 {font-size: 1.25rem; font-weight: 500; margin: 15px 0 0}
.u-section-8 .u-text-11 {font-size: 0.875rem; margin: 6px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 491px}
.u-section-8 .u-list-1 {min-height: 248px; grid-template-columns: repeat(5, calc(20% - 25px)); margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 911px}
.u-section-8 .u-text-1 {width: 720px}
.u-section-8 .u-list-1 {min-height: 633px; grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-8 .u-text-1 {width: 540px}
.u-section-8 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 1079px}
.u-section-8 .u-text-1 {width: 340px; font-size: 1.25rem}
.u-section-8 .u-list-1 {grid-gap: 0 0; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-2 {font-size: 1.125rem; }
.u-section-8 .u-text-3 {margin-top: 5px}
.u-section-8 .u-text-4 {font-size: 1.125rem; }
.u-section-8 .u-text-5 {margin-top: 5px}
.u-section-8 .u-text-6 {font-size: 1.125rem; }
.u-section-8 .u-text-7 {margin-top: 5px}
.u-section-8 .u-text-8 {font-size: 1.125rem; }
.u-section-8 .u-text-9 {margin-top: 5px}
.u-section-8 .u-text-10 {font-size: 1.125rem;}
.u-section-8 .u-text-11 {margin-top: 5px} }


/* Source: Hover.css Github under MIT license */

/* make icon grows bigger */
.hvr-grow {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  } 

/* highlight text */
  .hvr-text {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .hvr-text:before {
    content: "";
    position: absolute;
    text-align: center;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: Ubuntu;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-text:hover, .hvr-text:focus, .hvr-textt:active {
    font-weight: 600;
    color:rgb(57, 93, 226);

    font-family: Ubuntu;
    text-align: center;

  }
  .hvr-text:hover:before, .hvr-text:focus:before, .hvr-text:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .hvr-text:hover span {display:none;}
  
  .hvr-text:hover:after {
  content: attr(data-hover);
  }
