.u-section-1 .u-sheet-1 {min-height: 620px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 50px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 2.25rem; width: 489px; margin: 20px 326px 0}
.u-section-1 .u-form-1 {height: 139px; width: 570px; margin: 20px 285px 0}
.u-section-1 .u-label-1 {font-weight: 700; font-size: 1.25rem}
.u-section-1 .u-form-group-2 {margin-left: 0}
.u-section-1 .u-label-2 {font-weight: 700; font-size: 1.25rem}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; font-weight: 700}
.u-section-1 .u-slider-1 {min-height: 116px; height: auto; margin: 30px auto 27px}
.u-section-1 .u-carousel-indicators-1 {position: absolute; width: 72px; height: 3px; top: auto; bottom: 9px}
.u-section-1 .u-container-layout-1 {padding: 30px 50px}
.u-section-1 .u-text-2 {margin-top: 0; margin-right: auto; margin-left: auto; width: 550px; font-size: 2.25rem; font-weight: 700}
.u-section-1 .u-container-layout-2 {padding: 30px 50px}
.u-section-1 .u-text-3 {font-weight: 500; font-size: 1.25rem; font-style: normal; margin: 0 78px}
.u-section-1 .u-carousel-control-1 {width: 50px; height: 50px}
.u-section-1 .u-carousel-control-2 {width: 50px; height: 50px; left: auto; right: 0; position: absolute} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 431px}
.u-section-1 .u-text-1 {margin-left: 226px; margin-right: 226px}
.u-section-1 .u-form-1 {margin-left: 185px; margin-right: 185px}
.u-section-1 .u-slider-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-3 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 749px}
.u-section-1 .u-icon-1 {margin-top: 127px}
.u-section-1 .u-text-1 {margin-left: 116px; margin-right: 116px}
.u-section-1 .u-form-1 {margin-left: 75px; margin-right: 75px}
.u-section-1 .u-slider-1 {margin-bottom: 46px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-3 {width: 660px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 26px; margin-right: 26px}
.u-section-1 .u-form-1 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {width: 520px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {width: 520px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-1 .u-form-1 {width: 340px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-text-2 {width: 320px; font-size: 1.5rem}
.u-section-1 .u-text-3 {width: 320px} }.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("images/verne-ho-0LAJfSNa-xQ-unsplash.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 924px}
.u-section-2 .u-repeater-1 {min-height: 400px; grid-template-columns: calc(33.3333% - 13px) calc(33.3333% - 13px) calc(33.3333% - 13px); grid-gap: 19px 19px; width: 1018px; height: auto; margin: 60px auto 0 61px}
.u-section-2 .u-repeater-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-2 .u-container-layout-1 {padding: 20px 20px 10px}
.u-section-2 .u-icon-1 {height: 50px; width: 50px; margin: 0 242px 0 0}
.u-section-2 .u-image-1 {height: 90px; width: 187px; margin: 21px auto 0}
.u-section-2 .u-text-1 {margin: 19px auto 0 0}
.u-section-2 .u-text-2 {font-size: 1.25rem; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-3 {margin: 5px 8px 0 0}
.u-section-2 .u-text-4 {animation-duration: 1000ms; margin: 5px 7px 0 0}
.u-section-2 .u-repeater-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-2 .u-container-layout-2 {padding: 20px 20px 10px}
.u-section-2 .u-icon-2 {height: 50px; width: 50px; margin: 0 242px 0 0}
.u-section-2 .u-image-2 {height: 90px; width: 187px; margin: 21px auto 0}
.u-section-2 .u-text-5 {margin: 19px auto 0 0}
.u-section-2 .u-text-6 {font-size: 1.25rem; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-7 {margin: 5px 8px 0 0}
.u-section-2 .u-text-8 {animation-duration: 1000ms; margin: 5px 7px 0 0}
.u-section-2 .u-repeater-item-3 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-2 .u-container-layout-3 {padding: 20px 20px 10px}
.u-section-2 .u-icon-3 {height: 50px; width: 50px; margin: 0 242px 0 0}
.u-section-2 .u-image-3 {height: 90px; width: 187px; margin: 21px auto 0}
.u-section-2 .u-text-9 {margin: 19px auto 0 0}
.u-section-2 .u-text-10 {font-size: 1.25rem; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-11 {margin: 5px 8px 0 0}
.u-section-2 .u-text-12 {animation-duration: 1000ms; margin: 5px 7px 0 0}
.u-section-2 .u-repeater-2 {width: 1019px; min-height: 400px; grid-template-columns: calc(33.3333% - 13px) calc(33.3333% - 13px) calc(33.3333% - 13px); grid-gap: 19px 19px; background-image: none; background-size: auto; height: auto; margin: 51px auto 60px}
.u-section-2 .u-repeater-item-4 {background-size: auto; background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-2 .u-container-layout-4 {padding: 20px 20px 14px}
.u-section-2 .u-icon-4 {height: 50px; width: 50px; margin: 0 auto 0 0}
.u-section-2 .u-image-4 {height: 90px; width: 187px; margin: 21px auto 0}
.u-section-2 .u-text-13 {width: 125px; margin: 19px auto 0 0}
.u-section-2 .u-text-14 {font-size: 1.25rem; font-weight: 700; width: 286px; margin: 20px auto 0 0}
.u-section-2 .u-text-15 {margin: 5px 8px 0 0}
.u-section-2 .u-text-16 {margin: 5px 8px 0 0}
.u-section-2 .u-repeater-item-5 {background-size: auto; background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-2 .u-container-layout-5 {padding: 20px 20px 14px}
.u-section-2 .u-icon-5 {height: 50px; width: 50px; margin: 0 auto 0 0}
.u-section-2 .u-image-5 {height: 90px; width: 187px; margin: 21px auto 0}
.u-section-2 .u-text-17 {width: 125px; margin: 19px auto 0 0}
.u-section-2 .u-text-18 {font-size: 1.25rem; font-weight: 700; width: 286px; margin: 20px auto 0 0}
.u-section-2 .u-text-19 {margin: 5px 8px 0 0}
.u-section-2 .u-text-20 {margin: 5px 8px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 896px}
.u-section-2 .u-repeater-1 {min-height: 369px; grid-template-columns: repeat(3, calc(33.333333333333336% - 13px)); width: 940px; margin-left: 0}
.u-section-2 .u-text-3 {margin-right: 0; width: 70px; height: 25px}
.u-section-2 .u-text-4 {margin-right: 0}
.u-section-2 .u-text-7 {margin-right: 0; width: 70px; height: 25px}
.u-section-2 .u-text-8 {margin-right: 0}
.u-section-2 .u-text-11 {margin-right: 0; width: 70px; height: 25px}
.u-section-2 .u-text-12 {margin-right: 0}
.u-section-2 .u-repeater-2 {grid-template-columns: repeat(3, calc(33.333333333333336% - 13px)); width: 940px; min-height: 303px}
.u-section-2 .u-text-13 {height: 57px}
.u-section-2 .u-text-14 {height: 32px}
.u-section-2 .u-text-15 {width: 70px}
.u-section-2 .u-text-16 {margin-right: 7px}
.u-section-2 .u-text-17 {height: 57px}
.u-section-2 .u-text-18 {height: 32px}
.u-section-2 .u-text-19 {width: 70px}
.u-section-2 .u-text-20 {margin-right: 7px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1529px}
.u-section-2 .u-repeater-1 {min-height: 953px; grid-template-columns: calc(((100% - 720px) / 2) + 350px) calc(((100% - 720px) / 2) + 350px); margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-repeater-2 {grid-template-columns: calc(((100% - 720px) / 2) + 350px) calc(((100% - 720px) / 2) + 350px); min-height: 452px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1455px}
.u-section-2 .u-repeater-1 {grid-template-columns: 100%; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-repeater-2 {grid-template-columns: 100%; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-16 {margin-right: 0}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-20 {margin-right: 0} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 898px}
.u-section-3 .u-text-1 {text-transform: uppercase; background-image: none; font-weight: 700; width: 722px; font-size: 2.25rem; margin: 72px auto 0}
.u-section-3 .u-text-2 {font-size: 1.5rem; text-transform: uppercase; background-image: none; font-weight: 700; width: 722px; margin: 27px 209px 0}
.u-section-3 .u-layout-wrap-1 {background-image: none; width: 1017px; margin: 54px auto 60px}
.u-section-3 .u-layout-cell-1 {min-height: 300px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-icon-1 {height: 80px; width: 80px; margin: 0 auto}
.u-section-3 .u-text-3 {font-size: 1.25rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 700; margin: 30px -1px 0}
.u-section-3 .u-text-4 {font-size: 1rem; margin: 20px -1px 0}
.u-section-3 .u-layout-cell-2 {min-height: 300px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-2 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-5 {font-size: 1.25rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 700; margin: 30px -1px 0}
.u-section-3 .u-btn-1 {border-style: none; background-image: none; text-decoration: underline !important; margin: 20px auto 0; padding: 0}
.u-section-3 .u-layout-cell-3 {min-height: 266px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 80px; width: 80px; margin: 0 auto}
.u-section-3 .u-text-6 {font-size: 1.25rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 700; margin: 30px -1px 0}
.u-section-3 .u-text-7 {margin: 21px -1px 0}
.u-section-3 .u-layout-cell-4 {min-height: 266px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-layout-cell-5 {min-height: 566px}
.u-section-3 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 812px}
.u-section-3 .u-text-2 {margin-right: 109px; margin-left: 109px}
.u-section-3 .u-layout-wrap-1 {width: 940px}
.u-section-3 .u-layout-cell-1 {min-height: 266px}
.u-section-3 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-3 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-cell-2 {min-height: 266px}
.u-section-3 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-cell-3 {min-height: 236px}
.u-section-3 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-3 .u-text-7 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-cell-4 {min-height: 236px}
.u-section-3 .u-layout-cell-5 {min-height: 502px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1269px}
.u-section-3 .u-text-1 {width: 720px}
.u-section-3 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 362px}
.u-section-3 .u-layout-cell-5 {min-height: 769px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1284px}
.u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-text-2 {width: 540px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-layout-cell-4 {min-height: 543px}
.u-section-3 .u-layout-cell-5 {min-height: 577px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1078px}
.u-section-3 .u-text-1 {width: 340px; font-size: 1.5rem; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {width: auto; margin-right: 10px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-4 {min-height: 342px}
.u-section-3 .u-layout-cell-5 {min-height: 363px} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 104px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 21px auto 40px} 

@media (max-width: 575px){ .u-section-4 .u-text-1 {font-size: 1.5rem} }.u-section-5 {margin-top: 0; margin-bottom: 0; background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dil-H3yxl7t2oNE-unsplash.jpg")}
.u-section-5 .u-sheet-1 {min-height: 301px}
.u-section-5 .u-text-1 {font-weight: 700; margin: 60px 20px 0}
.u-section-5 .u-btn-1 {border-style: none; background-image: none; font-weight: 700; margin: 30px auto 60px 501px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 248px}
.u-section-5 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-5 .u-btn-1 {margin-left: auto} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 190px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 175px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 106px} }